{%load static%}
<div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
        <form action="{% url 'blogs:list' %}" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="search" name="q" class="form-control" id="s" placeholder="Type a keyword and hit enter">
            </div>
        </form>
    </div>
    {%if request.user.is_authenticated%}
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="{%if request.user.avatar%}{{request.user.profile.avatar.url}}{%else%}{%static 'images/user.png'%}{%endif%}"
                 alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>{{request.user}}</h2>
                <p>{{request.user.profile.bio}}</p>
                <a href="{%url 'account:logout'%}" >
                    <button class="mb-3 btn btn-primary btn-sm rounded">Logout</button>
                </a>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>
    {%else%}
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="{%static 'images/user.png'%}"
                 alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>No account</h2>
                <p>{{request.user.profile.bio}}</p>
                <a href="{%url 'account:login'%}" >
                    <button class="btn btn-primary btn-sm rounded mb-3">Login</button>
                </a>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                {% for last in last_art %}
                <li>
                    <a href="{% url 'blogs:detail' last.id %}">
                        <img src="{{last.image.url}}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>{{last.title}}</h4>
                            <div class="post-meta">
                                <span class="mr-2">{{last.created_date|date:"d M Y"}}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            {% for cat in categories %}
            <li><a href="{% url 'blogs:list' %}?cat={{cat.title}}">{{cat.title}} <span>{{cat.article.count}}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Tags</h3>
        <ul class="tags">
            {% for tag in tags %}
            <li><a href="{% url 'blogs:list' %}?tag={{tag.title}}">{{tag.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>