{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="mt5">Editing the task</h1>
    <form method="post">
        {%csrf_token%}
        <div class="mb-3 row">
            <label for="title">Title</label>
            {{form.title}}
        </div>
        <div class="mb-3 row">
            <label for="status">Status</label>
            {{form.status}}
        </div>
        <div class="mb-3 row">
            <label for="priority">Priority</label>
            {{form.priority}}
        <div class="mb-3 row">
            <label for="description">Description</label>
            {{form.description}}
        </div>
        </div>
        <div class="mb-3 row">
            <label for="deadline">Deadline</label>
            {{form.deadline}}
        </div>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
        <a href="{%url 'task:delete' obj.id%}" class="btn btn-outline-danger m-3">Delete</a>
    </form>
</div>

{%endblock%}